<div id= 'about_page'>
    <div id="about_image_container">
        <img src="/assets/about.jpg">
    </div>

    <div id='about_text'>
     <h1>Our Beginning</h1>

     <p>Nam faucibus ligula pharetra dolor finibus, nec porttitor ex condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean nec nunc nibh. Suspendisse sem ex, pellentesque ac bibendum eget, pellentesque rhoncus quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tristique lorem at nunc finibus hendrerit. Sed placerat, diam sit amet porta tempor, quam est pulvinar ipsum, at sagittis massa leo ut sem. Nullam a euismod erat, id egestas sem. Maecenas id magna velit. Sed non tristique risus. Pellentesque tincidunt, dolor at interdum dapibus, purus tellus placerat nunc, non aliquam lorem ligula et est.

     Vestibulum porttitor eros in quam efficitur, a porta sapien rutrum. Nam facilisis diam diam, quis venenatis diam eleifend id. Maecenas facilisis interdum ipsum eget aliquam. Quisque urna sem, ornare at laoreet at, venenatis id libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam et nisi sed tellus imperdiet pellentesque. Proin tincidunt metus sapien, vel consectetur est tempus at. In elementum pretium erat id condimentum. Praesent et nibh ac mauris ullamcorper blandit a ac nunc. Praesent at massa maximus, sodales purus vitae, dictum ex. Nullam pulvinar varius nisl id vestibulum. Sed ornare sodales elit, eget facilisis libero tristique id. Quisque eu suscipit leo, quis volutpat erat.</p>
    </div>

</div>