<div id='contact_us'>
    <dl>
        <dt>Email</dt>
        <dd>welcome@gmail.com</dd>
        <dt>Phone</dt>
        <dd>234-234-2344</dd>
        <dt>Facebook</dt>
        <dd>facebook.com/welcome</dd>
        <dt>Instagram</dt>
        <dd>instagram.com/welcome</dd>
    </dl>
</div>