<div class='side_bar'>
    <img src="assets/logo.jpg" id= "logo">
    <p>Cras eu commodo purus. Donec finibus ligula a vestibulum eleifend. Donec luctus nulla et erat efficitur sollicitudin. Sed consectetur consequat Nullam tempor dolor gravida laoreet fermentum.
    </p>
    <p id='admin_login'>Admin Login</p>
</div>