*{
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    list-style: none;
    text-decoration: none;
}

/* nav bar */



.nav_bar{
    display: flex;
    border: 1px #707070 solid;
    border-radius: 25px;
    margin:10px;
    height: 110px;
    a{
        align-self: center;
    }
    h1{
        font-size: 30px;
        padding-left: 30px;
        align-self: center;
    }
    ul {
        display:flex;
        align-items: center;
        margin-left: auto;
        margin-right: 20px;
    }
        li {
            padding:10px;
        }
}

/* Main-page */

.page_wrapper{
    display:flex;
}

.side_bar{
    min-width: 280px;
    height: 450px;
    border: 1px #707070 solid;
    border-radius: 25px;
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width:30%;
        border: 1px #707070 solid;
        border-radius: 50%;
        margin-top: 45px;
    }
    p{
        text-align: center;
    }
    #blurb{
        padding:20px;
    }
}

.posts{
    flex:auto;
}

.post_wrapper{
    border: 1px #707070 solid;
    border-radius: 25px;
    margin:10px;
    height:180px;
    overflow: hidden;
    display:flex;
    img{
        height:100%;
        width:100%;
    }
    #post_text{
        padding-left: 10px;
        width:60%;
    }
    h1{
        font-size: 20px
    }
}

/* show page*/ 

.show_page{
    display: flex;
    margin: 10px;
    img{
        width:50%;
    }
    #text_wrapper{
        padding-left:20px;
    }
    p{
        margin-top: 10px;
    }
}

/* about */

#about_page{
    display: flex;
    margin: 10px;
    margin-top: 40px;
    #about_text{
        padding-left: 20px;
        h1{
            margin: 0;
        }
    }
}

/* contact us */

#contact_us{
    text-align: center;
    padding-top: 90px;
    dt{
        font-weight: bold;
    }
    dd{
        margin-inline-start: 0;
    }
}

/* new page */

.new_wrapper{
    margin:10px;
    #post_title {
        width: 30%;
    }
    textarea{
        width: 100%;
        height: 250px;
    }
}